---
layout: default
---

<link href="{{ site.static }}css/prism.css" rel="stylesheet" />

<div class="blog-post detail">
    <h2 class="blog-post-title">{{ page.title }}</h2>
    <p class="blog-post-meta">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ page.date )}}
    </p>
    <div id="content_container">{{ content }}</div>
    <div class="tags">
        {% for tag in page.tags %}
        <a href="{{ tag }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ tag }}</a>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="{{ site.static }}js/prism.js"></script>